body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-studio {
  color: #2e2f42;
}

.header-nav {
  list-style: none;
}

.header-nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-link:hover {
  color: #404bbf;
}

.header-nav-link:focus {
  color: #404bbf;
}

.nav-address {
  font-style: normal;
}

.header-address {
  list-style: none;
}

.header-address-link {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}
.header-profile {
  background-color: #2e2f42;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-service-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  justify-content: flex-start;
  background-color: #4d5ae5;
}

.order-service-button:hover {
  background-color: #404bbf;
}

.order-service-button:focus {
  background-color: #404bbf;
}

.advantages-list {
  list-style: none;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
  list-style: none;
  background-color: #ffffff;
}

.team-worker-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-worker-profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  list-style: none;
}

.portfolio-content {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-direction {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-bottom {
  background-color: #2e2f42;
}
